body{
    background-color: rgb(22, 114, 219, 0.5);
}
span{
    font-weight: bold;
}

ul{
    width: 70%;
    margin: 2rem auto;
    border: 1px solid #d8d8d8;
    padding: 1.5rem;
    list-style-type: none;
    box-shadow: 2px 2px rgb(0, 0, 0, 0.4) ;
}
.title{
    text-align: center;
    font-weight: bold;
    margin: 2rem;
    font-size: 1.5rem
}
.main{
    text-align: center;
}